body {
  text-align: center;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Railway_workshop_museum_exhibition_in_Ljubljana%2C_Slovenia.jpg/1024px-Railway_workshop_museum_exhibition_in_Ljubljana%2C_Slovenia.jpg")
  font-family:"lucida Sans", sans-serif;
  font-size: 20px;
  text-shadow: 0.6;
}
main, a, h2{
  color: #dddddd;
}
h1 {
  font-weight: bold;
  font-size: 45px;
}
.impulse {
  color: blue;
  font-family: "impulse", sans-serif;
}
#action {
  background-color: red;
  font-size: 50px;
}
.link {
  color: black;
}
